:root {
    --main-color: rgb(173, 198, 248);
    --point-color: rgb(121, 209, 58);
}

* {box-sizing: border-box; padding: 0; margin: 0;}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    padding-top: 40px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.ground {
    background-color: lemonchiffon;
    width: 760px;
    height: 50vh;
    position: relative;
}
.ground > p {
    margin-top: 5px;
}
.fight_zone {
    position: relative;
    border: 1px solid;
    padding-top: 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 2;
}
.button-field {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-container button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
.button-container button:hover {
    background-color: var(--point-color);
    border-color: var(--point-color);
}
.hero,.monster {
    width: 110px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    min-height: 66px;
}
.hero > img,.monster > img {
    width: 100%;
}
.hero {
    left: -20px;
}
.hero.attack {
    animation: attack 0.7s;
}
@keyframes attack {
    0% {
        left: -20px;
    }
    50% {
        left: 30px;
    }
    100% {
        left: -20px;
    }
}
.monster {
    right: -20px;
}
.monster.attack {
    animation: attack2 0.7s;
}
@keyframes attack2 {
    0% {
        right: -20px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -20px;
    }
}
.hp-state {
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    padding: 2px;
    display: inline-block;
    border-radius: 7px;
    font-size: 12px;
    width: 26px;
    text-align: center;
    color: #fff;
}
p.attack-style {
    background-color: yellow;
}
p.heal-style {
    background-color: tan;
}
p.to-tanker-attack-style {
    background-color: skyblue;
}
p.full-attack-style {
    background-color: palevioletred;
}

/* 캐릭터선택 */
.character-select {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    z-index: 10;
    transform: translate(-50%,-50%);
}
.character-select > div {
    position: relative;
    padding: 50px;
    width: 100%;
    min-height: 540px;
    display: flex;
    align-items: end;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.15);
}
.select-container {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -999;
    opacity: 0;
}
.select-container.on {
    z-index: 5;
    opacity: 1;
}

.select-container > p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.label-container {
    width: calc(100% - 100px);
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-container input:checked +label .img-box {
    border: 2px solid red;
}
.label-container label {
    flex-grow: 1;
}
.label-container label span {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.label-container .img-box {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    border: 2px solid transparent;
}
.label-container .img-box img {
    width: 100%;
    vertical-align: bottom;
}
.label-container .img-box:hover .hover-contents {
    opacity: 1;
}
.label-container .img-box .hover-contents {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    padding: 20px 10px;
    text-align: center;
}
.hover-contents .hover-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.hover-contents .hover-cont {
    font-size: 1.3rem;
    margin-top: 5px;
}
.hover-contents .hover-infor {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 10px;
}
.select-container input {
    appearance: none;
    position: absolute;
    z-index: -999;
}

.character-select-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.character-select-btn-container button {
    flex-basis: calc(50% - 5px);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;
}
.character-select-btn-container button:hover {
    background-color: var(--point-color);
    border-color: var(--point-color);
}
.character-select-btn-container button:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    cursor: initial;
}