:root {
    --main-color: rgb(173, 198, 248);
    --point-color: rgb(121, 209, 58);
    --gold-champagne: #D4AF7F;
    --gold-antique: #B08D57;
    --gold-bronze: #8C7851;
    --gold-brass: #C0A060;
    --gold-dark: #7A6333;
    --real-gold: #fdba00;
    --pink-hot:#ff4f81;
    --pink-middle: #ff82a9;
    --pink-soft: #f8c4d5;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('../fonts/SF_HambakSnow.woff2') format('woff2'), url('../fonts/SF_HambakSnow.woff') format('woff');
    display: swap;
}
@font-face {
    font-family: 'child_manseh';
    src: url('../fonts/YoonChildfundkoreaManSeh.woff2') format('woff2'), url('../fonts/YoonChildfundkoreaManSeh.woff') format('woff');
    display: swap;
}

* {box-sizing: border-box; padding: 0; margin: 0;}
.sr-only {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.com-btn {
    padding: 10px 30px;
    font-size: 1.8rem;
    font-family: 'child_manseh';
    font-weight: 600;
    background-color: var(--pink-soft);
    border: 1px solid var(--pink-soft);
    border-radius: 5px;
    cursor: pointer;
}
.com-btn:hover {
    background-color: var(--pink-middle);
    border-color: var(--pink-middle);
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #212121;
}
body.on {
    background: #fffbf4;
}
.game-title {
    margin-bottom: 50px;
    font-size: 5rem;
    text-align: center;
    font-family: 'SF_HambakSnow';
    color: #fff;
}
.game-title.on {
    font-family: 'child_manseh';
    font-weight: bold;
    color: #212121;
}
.ground {
    width: 760px;
    height: 50vh;
    margin-top: 50px;
    position: absolute;
    top: 0;
    z-index: -999;
    opacity: 0;
    transition: all 2.8s;
}
.ground.on {
    position: relative;
    z-index: 5;
    opacity: 1;
}
.fight_zone {
    position: relative;
    border: 1px solid;
    padding-top: 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.fight_zone::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background:url('../img/doodle-background-fu.png') no-repeat center/cover;
    z-index: 0;
}
.button-container {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 2;
}
.button-field {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero,.monster {
    height: 105px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
    text-align: center;
}
.hero > img,.monster > img {
    height: 100%;
}
#healer-image {
    max-width: 120px;
    height: auto;
}
.hero {
    left: -20px;
}
.hero.attack {
    animation: attack 0.7s;
}
@keyframes attack {
    0% {
        left: -20px;
    }
    50% {
        left: 30px;
    }
    100% {
        left: -20px;
    }
}
.monster {
    right: -20px;
}
.monster.attack {
    animation: attack2 0.7s;
}
@keyframes attack2 {
    0% {
        right: -20px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -20px;
    }
}
.hp-state {
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    padding: 2px;
    display: inline-block;
    border-radius: 7px;
    font-size: 12px;
    width: 26px;
    text-align: center;
    color: #fff;
}
/* 메시지존 */
.message-zone {
    max-height: 200px;
    margin-top: 10px;
    overflow-y: scroll;
}
.message-zone > p {
    margin-top: 5px;
    font-size: 1.7rem;
    font-family: 'child_manseh';
    font-weight: 600;
}
.message-zone > p.intro-style {
    background-color: #FFF9C4;
}
.message-zone > p.attack-style {
    background-color: #f5f5f5;
}
.message-zone > p.power-attack-style {
    background: linear-gradient(45deg, #FF6F00, #D50000);
    color: #fff;
}
.message-zone > p.shield-style {
    background-color: #e0e0e0;
}
.message-zone > p.heal-style {
    background-color: #A5D6A7;
}
.message-zone > p.to-tanker-attack-style {
    background-color: #78909C;
}
.message-zone > p.undead-attack-style {
    background-color: #43A047;
}
.message-zone > p.full-attack-style {
    background-color: var(--pink-soft);
}

.iswinner-msg {
    z-index: -999;
    opacity: 0;
}
.iswinner-msg.on {
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 15;
    opacity: 1;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.iswinner-msg.on p {
    font-family: 'child_manseh';
    font-weight: 600;
    font-size: 2.4rem;
}
/* 캐릭터선택 */
.character-select {
    width: 860px;
}
.character-select > div {
    position: relative;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
}
.select-container {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -999;
    opacity: 0;
}
.select-container.on {
    position: relative;
    top: 0;
    z-index: 5;
    opacity: 1;
}
.select-container > p {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.label-container {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-container input:checked +label .img-box {
  border: 5px solid transparent;
  border-image: linear-gradient(
    135deg,
    var(--gold-dark),
    var(--gold-champagne) 25%,
    var(--gold-antique) 50%,
    var(--gold-champagne) 75%,
    var(--gold-bronze)
  ) 1;
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.05) inset,
    0 8px 18px rgba(0,0,0,0.45);
}
.label-container label {
    flex-grow: 1;
}
.label-container label span {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.label-container .img-box {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    border: 5px solid transparent;
    border-radius: 8px;
    overflow: hidden;
}
.label-container .img-box > img {
    width: 100%;
    vertical-align: bottom;
}
.label-container .img-box:hover .hover-contents {
    opacity: 1;
}
.label-container .img-box .hover-contents {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #424242;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
}
.hover-contents .hover-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.hover-contents .hover-cont {
    font-size: 1.3rem;
    margin-top: 5px;
}
.hover-contents .hover-infor {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 10px;
}
.select-container input {
    appearance: none;
    position: absolute;
    z-index: -999;
}

.character-select-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.character-select-btn-container button {
    flex-basis: calc(50% - 5px);
    background-color: var(--gold-brass);
    border: 1px solid var(--gold-brass);
    border-radius: 5px;
    padding: 7px 0;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}
.character-select-btn-container button:not(:disabled):hover {
    background-color: var(--gold-dark);
    border-color: var(--gold-dark);
    color: #fff;
}
.character-select-btn-container button:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    cursor: initial;
}